.color {
    background-color: violet;
  
}

#main {
    display: flex;
    flex-wrap: wrap;
    background-color: burlywood;
}

.card {
    margin: 10px;
    background-color: red;
    border-radius: 10px;
}